*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: #D1E9F6;
}

h1{
    text-align: center  ;
}
#container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#counter-container{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border: 2px dashed black;
padding: 25px;
/* width: fit-content; */
gap:10px;
}


#counter{
    padding: 5px 15px;
    background-color:#F6EACB;
    text-align: center;
    border-radius: 5px;
}

#main-button{
display: flex;
justify-content: space-evenly;
width: 250px;
}



button{
    padding: 5px 15px;
    border-radius: 8px;
    margin: 5px 0;

}